.footer {
    background-color: #023056 !important;
}

.footer__text {
    font-weight: bold !important;
}
a:-webkit-any-link {
    text-decoration: none;
    color: white ;
}

.footer__text h6 {
    font-size: 32px !important;
}

.footer__text body2 {
    font-size: 15px !important;
}

.footer__rights {
    text-align: center !important;
    font-size: 12px !important;
}