.homepage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.homepage__app {
    width: 70ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
}

.homepage__mockup {
    width: 350px;
}

.homepage__app h2, h5 {
    font-family: 'Quicksand', sans-serif !important;
    color: #023056 !important;
    margin: 0;
}

.homepage__app h2 {
    font-size: 50px !important;
    font-weight: bold !important;
    text-align: center;
}

.homepage__app h5 {
    font-size: 20px !important;
    text-align: justify;
}

.homepage__grid {
    padding: 4vh 30vh 0 30vh;
    justify-content: center !important;
    display: flex !important;
    align-items: center;
    justify-content: space-between !important;
    text-align: center !important;
}

.homepage__text {
    font-family: 'Quicksand', sans-serif !important;
    color: #023056 !important;
    font-size: 20px !important;
}

.video__text {
    font-family: 'Quicksand', sans-serif !important;
    color: #023056 !important;
    font-size: 50px !important;
    font-weight: bold !important;
    text-align: center;
}

.homepage__griditem {
    border-radius: 1vh;
    padding: 14px !important;
    border: 1px #cccbcb70 solid;
    background-color: white;
    text-align: center;
    height: 200px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: space-evenly;
    max-width: 270px !important;
}

.homepage__griditem h6 {
    font-weight: bold !important;
}

.homepage__img {
    width: 130px;
}