.homepage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.MuiTypography-root {
    color: #023056 !important;
}

.homepage__app {
    width: 70ch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
}

.homepage__mockup {
    width: 350px;
}

.homepage__app h2, h5 {
    color: #023056 !important;
    margin: 0;
}

.homepage__app h2 {
    font-size: 50px !important;
    font-weight: bold !important;
    text-align: center;
}

.homepage__app h5 {
    font-size: 20px !important;
    text-align: justify;
}

.homepage__grid {
    padding: 1vh;
    display: flex !important;
    align-items: center;
    justify-content: space-evenly !important;
    text-align: center !important;
}

.homepage__text {
    font-size: 15px !important;
}

.video__text {
    font-size: 50px !important;
    font-weight: bold !important;
    text-align: center;
}

.homepage__griditem {
    display: flex !important;
    border-radius: 1vh;
    padding: 1vh !important;
    border: 1px #cccbcb70 solid;
    background-color: white;
    text-align: center;
    height: 200px !important;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center;
    max-width: 25vh !important;
}

.homepage__img {
    width: 130px;
}